<html>
	<head>
	<title>HUEST Mongo Aviata</title>
	<meta charset="utf-8">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	</head>
	<body>
	
		 <table class="table sol-sm-6">
		 	<tr>
		 		<th>Дата</th>
		 		<th>Средняя цена</th>		 			 		
		 		<th>Мин цена</th>
		 		<th>Макс цена</th>	
		 	</tr>
		 	{% for item in data %}
			<tr>
				<td>{{item._id.day}}.{{item._id.month}}.{{item._id.year}}</td>
				<td>{{item.avg_price}}</td>
				<td>{{item.min_price}}</td>
				<td>{{item.max_price}}</td>
			</tr>
		 	{% endfor %}
		 </table>
	</body>
</html>